@import url('https://fonts.googleapis.com/css?family=Graduate');

body{
	background: rgba(102,255,255,.2);
	font-family: 'Graduate', cursive;
	font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 700;
}
img{
	border: 5px solid white;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	border-radius: 20px;
	border-color: pink;


}

div [class ^="col"] {
	padding: 8rem 0;
}

.bg-lalala{
	background: rgba(0,153,153,.3);
}

.bg-lalala:hover{
	background: rgba(0,153,153,.7);
	transition: all ease .7s
}
.btn-amarillo{
	background-color: pink;
}
.btn-amarillo:hover{
	background-color: yellow;
}
.carousel-inner img {
    width: 100%;
    max-height: 460px;
    padding-left: 5rem;
    padding-right: 5rem;
}